---
import { Image } from 'astro:assets';
import FullWidthLayout from '../../../layouts/FullWidthLayout.astro';
import cover from '../../../images/gatsby-cover.jpg';
import contents from './_contents.json';
import PrimaryCallToActionLink from '../../../components/PrimaryCallToActionLink.astro';
import SecondaryPurchaseLink from '../../../components/books/SecondaryPurchaseLink.astro';
import TableOfContents from '../../../components/books/TableOfContents.astro';
---

<FullWidthLayout title="Using Gatsby and Netlify CMS">
    <div class="bg-white dark:bg-black p-4">
        <div class="hero w-full relative z-10 overflow-hidden">
            <div class="w-full max-w-7xl mx-auto justify-self-center">
                <div class="flex flex-col md:flex-row items-center gap-8">
                    <Image
                        class="md:self-start cover w-2/3 sm:w-1/3"
                        src={cover}
                        alt="Using Gatsby and Netlify CMS cover"
                    />
                    <div class="hero-content flex flex-col gap-4 items-start">
                        <div>
                            <h2 class="text-5xl font-bold">
                                Using Gatsby and Netlify CMS
                            </h2>
                            <p
                                class="text-2xl text-zinc-600 dark:text-zinc-400"
                            >
                                Build Blazing Fast JAMstack Apps Using Gatsby
                                and Netlify CMS
                            </p>
                            <p class="text-xl text-zinc-600 dark:text-zinc-400">
                                by Joe Attardi
                            </p>
                        </div>
                        <p class="text-4xl md:text-7xl font-bold">
                            Fast apps with Gatsby & Netlify CMS.
                        </p>
                        <p class="text-2xl md:text-4xl">
                            Easily manage content in a Gatsby app.
                        </p>
                        <div class="mt-4 flex items-center gap-4 flex-wrap">
                            <PrimaryCallToActionLink
                                href="https://www.amazon.com/Using-Gatsby-Netlify-CMS-JAMstack-ebook/dp/B08KSX3QMR"
                                icon="fa6-brands:amazon"
                                >Buy from Amazon</PrimaryCallToActionLink
                            >
                        </div>
                        <div class="flex flex-col gap-2">
                            Also available from:
                            <ul class="flex flex-wrap gap-2">
                                <SecondaryPurchaseLink
                                    href="https://www.barnesandnoble.com/w/using-gatsby-and-netlify-cms-joe-attardi/1137355058?ean=9781484262962"
                                    >Barnes &amp; Noble</SecondaryPurchaseLink
                                >
                                <SecondaryPurchaseLink
                                    href="https://link.springer.com/book/10.1007/978-1-4842-6297-9"
                                    >Apress</SecondaryPurchaseLink
                                >
                                <SecondaryPurchaseLink
                                    href="https://books.apple.com/us/book/using-gatsby-and-netlify-cms/id1534741659"
                                    >Apple Books</SecondaryPurchaseLink
                                >
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 my-8">
            <div class="w-full max-w-7xl mx-auto flex flex-col gap-4">
                <h3 class="text-4xl">About the Book</h3>
                <div class="flex flex-col gap-4 text-lg">
                    <p>
                        Leverage the powerful new combination of Gatsby and
                        Netlify CMS, a free open source content management
                        solution, to build blazing fast apps. This book shows
                        you how to create a React-powered website using the
                        Gatsby framework for the frontend, and Netlify CMS as
                        the content backend.
                    </p>

                    <p>
                        Through the course of the book you'll gradually build a
                        website for a coffee shop that includes a blog and a
                        bakery/coffee menu that is customizable through Netlify
                        CMS. The project starts with a bare-bones Gatsby site to
                        which you'll add functionality such as setting
                        up/configuring the CMS, creating different types of
                        content, and writing some Gatsby glue code to consume
                        the Markdown data via plugins. When done, you'll be
                        well-equipped to build on your existing JavaScript and
                        React knowledge to effectively use Gatsby and Netlify
                        CMS for yourself or your clients.
                    </p>

                    <p>
                        Using Gatsby and Netlify CMS is an ideal guide for
                        anyone looking to build their own sites and managetheir
                        own content without having to deal with creating
                        Markdown files or Git repositories.
                    </p>

                    <p>With this book, you'll:</p>

                    <ul class="list-disc ml-8">
                        <li>
                            Clone repositories, install dependencies and deploy
                            on Netlify
                        </li>
                        <li>Configure Netlify Identity and Git Gateway</li>
                        <li>Use Netlify CMS Content Manager</li>
                        <li>Source blog data using Gatsby plugins</li>
                        <li>Manage dynamic pages using Gatsby Node APIs</li>
                        <li>Work with pagination, content and menus</li>
                        <li>Customize Netlify CMS</li>
                    </ul>
                </div>
            </div>
        </div>

        <TableOfContents contents={contents} />
    </div>

    <style>
        @keyframes appear-text {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes appear-book {
            from {
                opacity: 0;
                transform: scale(0.9);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        .cover {
            animation: appear-book 250ms ease-out;
            animation-delay: 250ms;
            animation-fill-mode: both;
        }

        .hero-content {
            animation: appear-text 250ms ease-out;
            animation-delay: 300ms;
            animation-fill-mode: both;
        }
    </style>
</FullWidthLayout>
