---
import { Image } from 'astro:assets';
import FullWidthLayout from '../../../layouts/FullWidthLayout.astro';
import cover from '../../../images/web-api-cookbook-cover.jpg';
---

<FullWidthLayout title="Web API Cookbook">
  <div class="bg-slate-200">
    <div class="bg-blue-900 w-full p-8 relative z-10 overflow-hidden">
      <div class="w-full max-w-7xl justify-self-center">
        <div class="flex flex-col sm:flex-row items-center gap-16">
          <Image
            class="w-1/3 sm:-rotate-2 shadow-lg"
            src={cover}
            alt="Web API Cookbook cover"
          />
          <div class="flex flex-col gap-4 items-start">
            <h2 class="text-white sm:text-3xl"><em class="italic">Web API Cookbook</em> by Joe Attardi</h2>
            <p class="text-4xl sm:text-7xl text-white font-bold">
              Master modern web APIs
            </p>
            <p class="text-2xl sm:text-4xl text-white">
              Unlock the full potential of modern browsers with hands-on
              guidance through powerful web APIs.
            </p>
            <a class="my-8 bg-orange-600 px-4 py-2 text-xl text-white rounded" href="https://amazon.com">Buy from Amazon</a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hidden sm:block bg-blue-900 w-full h-32 scale-x-110 -rotate-2 -translate-y-24 -top-24"
    >
    </div>
  </div>
</FullWidthLayout>
