---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import SocialButton from '../components/SocialButton.astro';
import clsx from 'clsx';

const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3);
---

<MainLayout>
    <div class="flex flex-col gap-4 mt-8">
        <div class="flex flex-col-reverse items-center gap-4 sm:flex-row">
            <div class="flex flex-col items-center sm:items-start gap-4">
                <p class="text-4xl sm:text-5xl font-black">Hi, I'm Joe!</p>
                <p
                    class="text-xl text-center sm:text-2xl sm:text-left text-zinc-500 dark:text-zinc-400"
                >
                    Building intuitive, user-friendly web experiences and
                    sharing insights from over 20 years of software development.
                </p>
                <p class="text-xl">
                    I've been a software developer since 2004, specializing in
                    front-end development and creating user-friendly, accessible
                    interfaces. I also write articles and books on web
                    development to share knowledge with the tech community.
                </p>
                <nav
                    class="flex items-center gap-2 self-center"
                    aria-label="Social links"
                >
                    <SocialButton
                        title="Email"
                        href="mailto:jattardi@gmail.com"
                        icon="ph:envelope"
                    />
                    <SocialButton
                        title="X"
                        href="https://x.com/joeattardi"
                        icon="fa6-brands:x-twitter"
                    />
                    <SocialButton
                        title="LinkedIn"
                        href="https://linkedin.com/in/JoeAttardi"
                        icon="fa6-brands:linkedin"
                    />
                    <SocialButton
                        title="GitHub"
                        href="https://github.com/JoeAttardi"
                        icon="fa6-brands:github"
                    />
                </nav>
            </div>
            <img
                src="/joe.jpg"
                class="avatar sm:self-start rounded-full w-1/2 sm:w-72 border-8 border-transparent dark:border-slate-600"
            />
        </div>
        <section class="flex flex-col gap-8">
            <h2 class="text-2xl font-bold">Latest blog posts</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {
                    posts.map((post) => (
                        <article
                            class={clsx(
                                'grid grid-rows-[min-content_1fr_min-content] gap-4 p-4',
                                'rounded shadow border bg-stone-100 border-stone-200',
                                'dark:bg-stone-800 dark:border-stone-600',
                                'hover:scale-105 transition-transform'
                            )}
                        >
                            <h4 class="text-xl font-bold">
                                <a href={`/blog/${post.slug}`}>
                                    {post.data.title}
                                </a>
                            </h4>
                            <p>{post.data.description}</p>
                            <a
                                href={`/blog/${post.slug}`}
                                class={clsx(
                                    'text-sm bg-white border border-stone-300 py-2 px-4 rounded-md text-center',
                                    'hover:bg-slate-100',
                                    'dark:bg-stone-900 dark:border-stone-600'
                                )}
                            >
                                Read More
                            </a>
                        </article>
                    ))
                }
            </div>
            <a
                class={clsx(
                    'self-center text-sm bg-white border border-stone-300 py-2 px-4 rounded-md text-center',
                    'hover:bg-slate-100',
                    'dark:bg-stone-900 dark:border-stone-600'
                )}
                href="/blog"
            >
                View All Posts</a
            >
        </section>
    </div>
</MainLayout>

<style>
    @keyframes wiggle {
        0%,
        100% {
            transform: scale(1) rotate(0deg);
        }
        25% {
            transform: scale(1.05) rotate(3deg);
        }
        50% {
            transform: scale(1.05) rotate(-3deg);
        }
        75% {
            transform: scale(1.05) rotate(2deg);
        }
    }

    .avatar:hover {
        animation: wiggle 0.5s ease-in-out;
    }
</style>
