---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<div class="flex flex-col-reverse items-center gap-4 sm:flex-row">
		<div class="flex flex-col items-center sm:items-start gap-4">
			<p class="text-4xl sm:text-6xl">Hi, I'm Joe!</p>
			<p class="text-2xl text-center sm:text-4xl sm:text-left text-zinc-500 dark:text-zinc-400">
				Building intuitive, user-friendly web experiences and sharing insights
				from over 20 years of software development.
			</p>
			<p class="text-xl">
				I've been a software developer since 2004, specializing
				in front-end development and creating user-friendly, accessible
				interfaces. I also write articles and books on web development to share
				knowledge with the tech community.
			</p>
		</div>
		<img
			src="/joe.jpg"
			class="rounded-full w-1/2 sm:w-72 border-8 border-transparent dark:border-slate-600"
		/>
	</div>
</MainLayout>
