---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import MainLayout from '../layouts/MainLayout.astro';

const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3);
---

<MainLayout>
    <div class="flex flex-col-reverse items-center gap-4 sm:flex-row">
        <div class="flex flex-col items-center sm:items-start gap-4">
            <p class="text-4xl sm:text-6xl">Hi, I'm Joe!</p>
            <p
                class="text-2xl text-center sm:text-4xl sm:text-left text-zinc-500 dark:text-zinc-400"
            >
                Building intuitive, user-friendly web experiences and sharing
                insights from over 20 years of software development.
            </p>
            <p class="text-xl">
                I've been a software developer since 2004, specializing in
                front-end development and creating user-friendly, accessible
                interfaces. I also write articles and books on web development
                to share knowledge with the tech community.
            </p>
            <h2 class="text-2xl font-bold">Want to get in touch?</h2>
            <p class="text-xl">
                Reach out on <a
                    class="underline"
                    href="https://x.com/JoeAttardi">X</a
                > or <a
                    class="underline"
                    href="https://linkedin.com/in/JoeAttardi">LinkedIn</a
                >, or shoot me an email at <a
                    class="underline"
                    href="mailto:jattardi@gmail.com">jattardi@gmail.com</a
                >. Hope to hear from you!
            </p>
            <div class="mt-2 flex flex-col gap-4">
                <h2 class="text-2xl font-bold">Latest blog posts</h3>
                {
                    posts.map((post) => (
                        <article>
                            <h4 class="text-xl font-bold">
                                <a href={`/blog/${post.slug}`}>
                                    {post.data.title}
                                </a>
                            </h4>
                            <p>{post.data.description}</p>
                            <a
                                href={`/blog/${post.slug}`}
                                class="text-blue-600 dark:text-blue-400 flex items-center gap-1"
                            >
                                Read more <Icon name="ph:arrow-right" />
                            </a>
                        </article>
                    ))
                }
            </div>
        </div>
        <img
            src="/joe.jpg"
            class="sm:self-start rounded-full w-1/2 sm:w-72 border-8 border-transparent dark:border-slate-600"
        />
    </div>
</MainLayout>
