---
import FooterLink from './FooterLink.astro';
---
<footer class="footer bg-gray-300 px-4 py-8">
  <div>© 2024 Joe Attardi</div>
  <div class="flex items-center gap-4">
    <FooterLink 
      title="jattardi@gmail.com"
      href="mailto:jattardi@gmail.com" 
      icon="ph:envelope" 
    />
    <FooterLink 
      title="X"
      href="https://twitter.com/JoeAttardi" 
      icon="fa6-brands:x-twitter" 
    />
    <FooterLink 
      title="LinkedIn"
      href="https://linkedin.com/in/JoeAttardi" 
      icon="fa6-brands:linkedin" 
    />
    <FooterLink 
      title="GitHub"
      href="https://github.com/JoeAttardi" 
      icon="fa6-brands:github" 
    />
  </div>
</footer>

<style>
  .footer {
    display: grid;
    grid-template-columns: 1fr auto;
  }
</style>