---
import Logo from './Logo.astro';
---

<header class="px-4 py-2 border-b border-slate-200 flex items-center gap-2 bg-blue-50">
    <div class="max-w-7xl w-full mx-auto">
        <a href="/" class="flex items-center gap-2">
            <Logo />
            <h1 class="tracking-wide uppercase font-bold text-xl">Joe Attardi</h1>
        </a>
    </div>
</header>
