---
import Logo from './Logo.astro';
---

<header class="px-4 py-2 border-b border-slate-200 flex items-center gap-2 bg-blue-50">
    <Logo />
    <h1 class="text-lg font-bold">Joe Attardi</h1>
</header>
