<div class="bg-radial from-blue-100 via-blue-400 to-blue-700 w-10 h-10 rounded-xl flex items-center justify-center shadow-lg ring-2 ring-blue-600">
    <div class="bg-black rounded-full w-8 h-8 flex items-center justify-center">
        <span class="text-white font-medium text-lg tracking-widest">JA</span>
    </div>
</div>