<div class="logo text-2xl bg-linear-to-b from-blue-700 to-sky-700 text-white p-1 rounded-lg hover:scale-105 hover:rotate-5 transition-transform hover:brightness-110">
    JA
</div>

<style>
    .logo {
        font-family: 'Bungee';
    }
</style>
