<div class="bg-slate-300 p-2 rounded-full">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="141.37 132.86 143.745 115.242"
        class="w-8 h-8"
    >
        <defs>
            <linearGradient id="blueToPlurpleGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" stop-color="#3b82f6"></stop>
                <stop offset="100%" stop-color="#a855f7"></stop>
            </linearGradient>
        </defs>
        <path
            fill="url(#blueToPlurpleGradient)"
            d="M 223.795 132.86 L 246.146 140.715 L 246.643 140.715 L 246.724 140.918 L 246.822 140.954 L 246.782 141.066 L 285.115 236.795 L 264.011 236.795 L 255.622 214.971 L 220.798 214.971 C 217.651 223.645 214.446 230.113 211.181 234.373 C 210.609 235.109 210.015 235.812 209.4 236.487 L 209.287 236.795 L 209.113 236.795 C 204.858 241.339 199.608 244.453 193.365 246.136 C 186.067 248.102 177.605 247.394 167.977 244.01 C 156.684 240.04 149.105 233.824 145.238 225.361 C 141.37 216.897 141.562 206.543 145.808 194.295 L 168.463 199.451 C 166.421 206.1 165.755 211.07 166.47 214.362 C 167.522 219.35 170.599 222.742 175.698 224.534 C 180.85 226.345 185.011 226.155 188.179 223.964 C 191.345 221.774 194.558 216.048 197.813 206.785 L 223.795 132.86 Z M 249.395 198.784 L 237.632 167.102 L 226.496 198.784 L 249.395 198.784 Z"
        ></path>
    </svg>
</div>
