---
import NavLink from './NavLink.astro';
---

<nav>
    <ul
        role="menubar"
        id="top-nav"
        class:list={[
            'bg-slate-300 dark:bg-slate-800 dark:border-slate-700 border border-slate-300 w-2/3 p-4 fixed right-0 top-0 z-10 hidden h-full rounded py-16',
            'md:border-none md:bg-transparent md:dark:bg-transparent md:w-auto md:relative md:flex md:top-0 md:h-auto md:items-center md:gap-4 md:p-0 md:m-0'
        ]}
    >
        <NavLink href="/books">Books</NavLink>
        <NavLink href="/articles">Articles</NavLink>
        <NavLink href="/projects">Projects</NavLink>
        <NavLink href="/blog">Blog</NavLink>
    </ul>
</nav>

<style>
    @keyframes open {
        from {
            transform: translateX(100%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    #top-nav.open {
        animation: open 200ms ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
</style>
