---
import NavLink from './NavLink.astro';
---

<nav>
  <ul role="menubar" class="flex items-center gap-8">
    <NavLink href="/books">Books</NavLink>
    <NavLink href="/articles">Articles</NavLink>
  </ul>
</nav>
