---
const { href } = Astro.props;
const { pathname } = Astro.url;

const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<li role="none">
    <a
        role="menuitem"
        class:list={[
            'text-3xl sm:text-lg p-2',
            {
                'sm:font-bold sm:border-b-4 sm:border-b-blue-700': isActive,
                'sm:hover:border-b-4 sm:hover:border-b-blue-200 sm:dark:hover:border-b-blue-800':
                    !isActive
            }
        ]}
        href={href}
    >
        <slot />
    </a>
</li>
