---
import { Icon } from 'astro-icon/components';
import clsx from 'clsx';
const { icon, href, title } = Astro.props;
---

<a
    href={href}
    class={clsx(
        'social-button p-2 rounded',
        'text-2xl text-gray-700 dark:text-gray-200',
        'hover:bg-gray-200 dark:hover:text-gray-400',
        'dark:hover:bg-gray-800'
    )}
>
    <Icon name={icon} title={title} />
</a>

<style>
    @keyframes wiggle {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-5deg);
        }
        50% {
            transform: rotate(5deg);
        }
        75% {
            transform: rotate(-3deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    
    .social-button:hover svg {
        animation: wiggle 0.5s ease-in-out;
    }
</style>
