---
import { Image } from 'astro:assets';
import FullWidthLayout from '../../../layouts/FullWidthLayout.astro';
import cover from '../../../images/modern-css-cover.jpg';
import contents from './_contents.json';
import PrimaryCallToActionLink from '../../../components/PrimaryCallToActionLink.astro';
import SecondaryPurchaseLink from '../../../components/books/SecondaryPurchaseLink.astro';
import TableOfContents from '../../../components/books/TableOfContents.astro';
---

<FullWidthLayout title="Modern CSS">
    <div class="bg-white dark:bg-black p-4">
        <div class="hero w-full relative z-10 overflow-hidden">
            <div class="w-full max-w-7xl mx-auto justify-self-center">
                <div class="flex flex-col md:flex-row items-center gap-16">
                    <Image
                        class="md:self-start cover w-2/3 sm:w-1/3"
                        src={cover}
                        alt="Modern CSS cover"
                    />
                    <div class="hero-content flex flex-col gap-4 items-start">
                        <div>
                            <h2 class="text-5xl font-bold">Modern CSS</h2>
                            <p
                                class="text-2xl text-zinc-600 dark:text-zinc-400"
                            >
                                Master the Key Concepts of CSS for Modern Web
                                Development
                            </p>
                            <p class="text-xl text-zinc-600 dark:text-zinc-400">
                                by Joe Attardi
                            </p>
                        </div>
                        <p class="text-4xl md:text-7xl font-bold">
                            Become a CSS expert.
                        </p>
                        <p class="text-2xl md:text-4xl">
                            A guided tour of modern CSS features.
                        </p>
                        <div class="mt-4 flex items-center gap-4 flex-wrap">
                            <PrimaryCallToActionLink
                                href="https://www.amazon.com/Modern-CSS-Master-Concepts-Development/dp/148426293X"
                                icon="fa6-brands:amazon"
                                >Buy from Amazon</PrimaryCallToActionLink
                            >
                        </div>
                        <div class="text-white flex flex-col gap-2">
                            Also available from:
                            <ul class="flex flex-wrap gap-2">
                                <SecondaryPurchaseLink
                                    href="https://www.barnesandnoble.com/w/modern-css-joe-attardi/1137355059?ean=9781484262931"
                                    >Barnes &amp; Noble</SecondaryPurchaseLink
                                >
                                <SecondaryPurchaseLink
                                    href="https://link.springer.com/book/10.1007/978-1-4842-6294-8"
                                    >Apress</SecondaryPurchaseLink
                                >
                                <SecondaryPurchaseLink
                                    href="https://books.apple.com/us/book/modern-css/id1534750842"
                                    >Apple Books</SecondaryPurchaseLink
                                >
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 my-8">
            <div class="w-full max-w-7xl mx-auto flex flex-col gap-4">
                <h3 class="text-4xl">About the Book</h3>
                <div class="flex flex-col gap-4 text-lg">
                    <p>
                        Come on a tour of “modern” CSS in 2020. This
                        example-driven book demonstrates the concepts by showing
                        code examples, screenshots, and diagrams to help clearly
                        communicate the information.
                    </p>

                    <p>
                        You'll start with the very basics of CSS: box model,
                        colors, selectors and combinators, and specificity. Then
                        gradually move through more intermediate topics -
                        styling text, positioning, Z-index and stacking
                        contexts, gradients, borders, and then to more advanced
                        topics such as transforms, transitions, animations,
                        flexbox, and CSS grid. Some features are only available
                        in modern browsers (Chrome, Edge, Safari, and Firefox),
                        but information about IE11 compatibility is included
                        where possible.
                    </p>

                    <p>
                        There is a lot of discussion about how hard CSS is, and
                        how intimidated some people are by it, but it doesn’t
                        have to be this way. Modern CSS uses a logical and
                        understandable approach to break down and clearly
                        explain the ins and outs of CSS.
                    </p>

                    <p>With this book, you'll:</p>

                    <ul class="list-disc ml-8">
                        <li>
                            Work with the syntax of CSS selectors and calculate
                            specificity
                        </li>
                        <li>Use styling techniques, fonts and text styling</li>
                        <li>Review custom properties (variables)</li>
                        <li>
                            Explore the different ways an element can be
                            transformed
                        </li>
                        <li>Use animating elements with CSS transitions</li>
                        <li>Position elements using Flexbox layout</li>
                        <li>Understand the basics of responsive design</li>
                    </ul>
                </div>
            </div>
        </div>
        <TableOfContents contents={contents} />
    </div>

    <style>
        @keyframes appear-text {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes appear-book {
            from {
                opacity: 0;
                transform: scale(0.9);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        .cover {
            animation: appear-book 250ms ease-out;
            animation-delay: 250ms;
            animation-fill-mode: both;
        }

        .hero-content {
            animation: appear-text 250ms ease-out;
            animation-delay: 300ms;
            animation-fill-mode: both;
        }
    </style>
</FullWidthLayout>
