---
import '@fontsource/atkinson-hyperlegible';

const { title } = Astro.props;
---
<html lang="en">
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
    <title>{title ? `${title} | Joe Attardi` : 'Joe Attardi'}</title>
  </head>
  <body class="p-4">
    <slot />
  </body>
</html>
