---
import BaseLayout from './BaseLayout.astro';

const { title } = Astro.props;
---

<BaseLayout title={title}>
    <main class="p-4 max-w-7xl justify-self-center">
        <slot />
    </main>
</BaseLayout>
